{% extends "page.html" %}
{% set innerPage = True %}

{% block head %}
{{ super() }}
{% endblock %}


{% block content %}
{% if output_file == 'index.html' %}
<div id="imageShow">
    <!--{% set article = (articles|selectattr('status', 'equalto', 'published')|selectattr('category', 'equalto', 'News')|first)  %}-->
    {% set article = {} %}
    <div class="image" style="background-image: url({{SITEURL}}/{% if article.teaser is defined %}{{article.teaser}}{% else %}theme/img/teaser_default.jpg{% endif %});">
        {% if article.teaser_description is defined %}
        <p class="desc">
            <span>{{article.teaser_description}}</span>
        </p>
        {% endif %}
    </div>
</div>
{% endif %}
<div id="sidebar">
    <div class="box">
        <input type="text" id="searchbar" onkeyup="searchNews()" placeholder="In News suchen" style="height: 20px; padding: 6px; font-size: 16px; color: #fff; border: 1px solid #222; background: #090909; width: 234px; margin-top: 4px;" />
        <hr/>
        <h3>News filtern</h3>
        <div class="checkbox checked all" data-handler="filterNews" data-class="all"><a></a><span>Alle</span></div>
        <div class="checkbox checked" data-handler="filterNews" data-class="general"><a></a><span>Allgemeines <img src="{{SITEURL}}/theme/img/category_general.png" /></span></div>
        <div class="checkbox checked" data-handler="filterNews" data-class="dota"><a></a><span>Dota 2 <img src="{{SITEURL}}/theme/img/category_dota.png" /></span></div>
        <div class="checkbox checked" data-handler="filterNews" data-class="league"><a></a><span>League of Legends <img src="{{SITEURL}}/theme/img/category_league.png" /></span></div>
        <div class="checkbox checked" data-handler="filterNews" data-class="csgo"><a></a><span>Counter-Strike: GO <img src="{{SITEURL}}/theme/img/category_csgo.png" /></span></div>
        <div class="checkbox checked" data-handler="filterNews" data-class="hearthstone"><a></a><span>Hearthstone <img src="{{SITEURL}}/theme/img/category_hearthstone.png" /></span></div>
    </div>
</div>
<main>
    <div class="box sidebar list">
        {{ super() }}

        {% set category_list = True %}
        {% if page is defined %}
        {%   if page.sort is defined and page.sort == "reverse" %}
        {%     set articles = (articles|reverse) %}
        {%   endif %}
        {%   if page.filters is defined %}
        {%     for filter in page.filters %}
        {%       set filter = filter.split(" ") %}
        {%       if filter[2] is defined %}
        {%         set articles = (articles|selectattr(filter[0], filter[1], filter[2])) %}
        {%       else %}
        {%         set articles = (articles|selectattr(filter[0], filter[1])) %}
        {%       endif %}
        {%     endfor %}
        {%   endif %}
        {% endif %}
        {% for article in articles %}
        {%   if not article.status is defined or not article.status|string() is equalto "Draft"|string() %}
        {%     if (output_file|string() is equalto "index.html"|string()) and (article.category|string() is equalto "News"|string()) %}
        {%       include "article_stub.html" %}
        {%     elif page is defined and article.category == page.category %}
        {%       include "article_stub.html" %}
        {%     endif %}
        {%   endif %}
        {% endfor %}

        <article class="post nomore" style="display: none;">
            <div class="article"><i>Leider sind keine Artikel vorhanden, die Ihrer Suche entsprechen.</i></div>
        </article>
    </div>
</main>
{% endblock %}